<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BitstampApiKey" value="Ee3Y8VqEuRsC03TZegDJvlx27kcw8wRD" />
    <add key="BitstampApiSecret" value="wfVvnUNavCo08TuF7ByN50kBtUoT39ee" />
    <add key="BitstampCustomerId" value="lmaf5493" />
    <add key="MinMaxAveragePeriodInDays" value="180" />
    <add key="SellOrderRangeInPercents" value="1,80" />
    <add key="AvailableBtcInPersonalVault" value="0" />
    <add key="AvailableCashDivider" value="1,00" />
  </appSettings>
  <connectionStrings>
    <add name="BitstampTraderEntities" connectionString="metadata=res://*/BitstampTraderModel.csdl|res://*/BitstampTraderModel.ssdl|res://*/BitstampTraderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bitstamphandler.database.windows.net;initial catalog=BitTraderSql;persist security info=True;user id=Tyas;password=lAmbrEchts5;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>