<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BitstampApiKey" value="*****" />
    <add key="BitstampApiSecret" value="*****" />
    <add key="BitstampCustomerId" value="*****" />
    <add key="MinMaxAveragePeriodInDays" value="180" />
    <add key="SellOrderRangeInPercents" value="1,80" />
    <add key="AvailableBtcInPersonalVault" value="0" />
    <add key="AvailableCashDivider" value="1,00" />
  </appSettings>
  <connectionStrings>
    <add name="BitstampTraderEntities" connectionString="*****" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>